@page "/"
@using BlazorAppToDo.Dto
@using BlazorAppToDo.Interfaces
@using BlazorAppToDo.Model

@inject IToDoRepository ToDoRepository

<PageTitle>Home</PageTitle>

<h1>To-Do list</h1>

<ul>
    @foreach (var todo in ToDos)
    {
        <li>
            <strong>@todo.Task</strong> @(todo.IsCompleted ? "(Completed)" : "")
        </li>
    }
</ul>

@code {
    private List<ToDoDto> ToDos = new(); 

    protected override async Task OnInitializedAsync()
    {
        // Загружаем задачи из репозитория и преобразуем в DTO
        var todos = await ToDoRepository.GetAllAsync();
        ToDos = todos.Select(t => new ToDoDto(t) ).ToList();
    }
     
 
}
